<div class="bg-img">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand text-success font-weight-bold"> YoUcAn </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsebtn">
              <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="collapsebtn">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white"> ABOUT </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white"> TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">CONTACT</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ends  -->

    <div class="container text-center hero-texts">
        <h2 class="wow fadeInUp">Welcom to <span class="text-success">YoUcAn</span></h2>
        <h1 class="wow fadeInUp">IT'S NICE TO MEET YOU</h1>
        <button class="btn btn-warning btn-lg text-white font-weight-bold"> Explore Us</button>
    </div>


</div>


<section class="container ourservices text-center">

    <h1 class="wow fadeInUp">SERVICES</h1>
    <p class="wow fadeInUp">Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row rowsetting">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto wow fadeInUp">
            <div class="imgsetting d-block m-auto">
                <i class="fa fa-shopping-cart fa-3x text-white"></i>
            </div>
            <h2>E-COMMERCE</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quibusdam accusamus ducimus facilis nesciunt sapiente cupiditate incidunt pariatur eius deserunt.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto wow fadeInUp">
            <div class="imgsetting d-block m-auto">
                <i class="fa fa-tv fa-3x text-white"></i>
            </div>
            <h2>E-COMMERCE</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quibusdam accusamus ducimus facilis nesciunt sapiente cupiditate incidunt pariatur eius deserunt.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto wow fadeInUp">
            <div class="imgsetting d-block m-auto">
                <i class="fa fa-plane fa-3x text-white"></i>
            </div>
            <h2>E-COMMERCE</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quibusdam accusamus ducimus facilis nesciunt sapiente cupiditate incidunt pariatur eius deserunt.</p>
        </div>
    </div>
</section>

<!-- ========================= portfolio ======================= -->

<section class="portfolio bg-light text-center">

    <div class="container text-center">
        <h1 class="font-weight-bold wow fadeInUp">PORTFOLIO</h1>
        <p class="wow fadeInUp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-water-01.jpeg" alt="water-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">Explore</h2>
                        <p class="card-text">Graphic Design</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-copy-02.jpeg" alt="coffee-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">Thread</h2>
                        <p class="card-text">Illustration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-books-03.jpeg" alt="books-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">Explore</h2>
                        <p class="card-text">Graphic Design</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-study-04.jpeg" alt="water-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">Lines</h2>
                        <p class="card-text">Branding</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-time-05.jpg" alt="coffee-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">South West</h2>
                        <p class="card-text">Web Designing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card wow fadeInUp">
                    <img src="assets/images/card-bridge-06.jpeg" alt="books-card" class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title">Window</h2>
                        <p class="card-text">Photography</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>